body{
    font-family: "Open Sans", system-ui;
    padding: 0;
    margin: 0;
}

main{
    max-width: 1000px;
    margin: auto;
}

/* Banner section */

.banner{
    background-image: url('images/banner/banner1.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-around;
    background-position: center;
}

.banner-content {
    width: 380px;
    text-align: right;
    padding: 100px 0px;
}

.banner-content h1 {
    font-weight: 800;
    font-size: 45px;
}

.banner-content p {
    font-size: 12px;
}

.banner-content button {
    background: #F15B22;
    color: white;
    font-weight: bold;
    padding: 12px 18px;
    border: none;
    border-radius: 5px;
    margin-top: 15px;
}

section.failure-container {
    display: flex;
    align-items: center;
    gap: 140px;
    margin: 120px 0px;
}

.failure-content img {
    width: 420px;
}

.failure-text h1 {
    width: 330px;
    font-size: 28px;
    font-weight: 900;
}

.failure-text p {
    font-size: 12px;
    width: 300px;
}

ul.failure-list li {
    list-style: none;
    font-size: 12px;
    line-height: 25px;
}

ul.failure-list {
    padding: 0;
}

ul.failure-list li i {
    color: #82d479;
}

section.plan {
    text-align: center;
    margin-bottom: 100px;
}

section.plan h1 {
    font-size: 30px;
    font-weight: 800;
}

.plan-content {
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
}

.plan-content div img {
    width: 60px;
}

.plan-content div h3 {
    font-weight: 800;
}

.plan-content span {
    font-weight: 600;color: #8f8d88;
}

/* Mindset position style */

section.mindset-container {
    margin-bottom: 100px;
    background-image: linear-gradient(to right, #f7531a, #ffff0000), url(images/watch.png);
    padding: 50px;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 5px;
    background-size: cover;
}

.mindset h1 {
    color: white;
    width: 300px;
}

.mindset button {
    font-weight: 700;
    border: navajowhite;
    padding: 10px 15px;
    border-radius: 5px;
    color: #cb870d;
    background-color: white;
}

/* footer section  */

footer.footer {
    background: black;
    color: white;
}

.left-side {
    width: 50%;
}

.left-side p {
    font-size: 11px;
    width: 330px;
    color: #b5b5b5;
    line-height: 20px;
}

.left-side span {
    display: block;
    font-size: 12px;
    color: #b5b5b5;
}

.left-side span a {
    line-height: 30px;
    color: #b5b5b5;
    text-decoration: none;
}

.footer-icon img {
    margin-top: 20px;
    width: 30px;
    margin-right: 15px;
}

.footer-container {
    display: flex;
    width: 1000px;
    margin: auto;
    padding: 70px 0px;
}


.right-side h3 {
    color: #61b5d8;
}

.right-side input[type="text"] {
    display: block;
    background: black;
    color: white;
    border: 1px solid white;
    padding: 15px 20px;
    border-radius: 5px;
}

.right-side input[type="button"] {
    background: white;
    padding: 15px 30px;
    border: navajowhite;
    border-radius: 5px;
    margin-top: 15px;
    font-weight: bold;
    color: #F15B22;
}


/* The End */